.navbar-form.navbar-right
  button.btn.btn-primary(data-toggle='modal', data-target='.logout') Logout

ul.nav.navbar-nav.navbar-right
  li
    p.navbar-text Logged in as 

      b.loggedin #{username}
  li
    a(href='/') New Snippet
  li
    a(href='/profile') Profile
  li
    a(href='/snippets') My Snippets


